body {
    background-color: #054A91;
    color: #FCFAFA;
    margin: 0;
}

#homepageDiv {
    margin:  5% auto 5%;
    text-align: center;
    min-height: 100px;
    background-color: #5FBFF9;
    width: 50%;
    border: 5px solid #3E7CB1;
}

/* Makes sure just the h1s inside the homepage are affected */
#homepageDiv > h1{
    font-size: 75px;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Makes sure links are visable */
h2 > a {
    color: #FCFAFA;
    text-decoration: none;
}

/* Added a color change so they know when they are on the link */
h2 > a:hover {
    color: #0A122A;
}

/* flexbox holder for the images of different languages */
#homeIconHolder{
    display: flex;
    justify-content: space-around;
    margin-bottom: 55px;
    flex-wrap: wrap;
}

/* Makes sure images are the same size */
#homeIconHolder > img {
    width: 200px;
}
/* Add media query to fix look on mobile */
@media screen and (max-width: 600px) {
    /* Div isn't wide enough as is */
    #homepageDiv {
        width: 90%;
    }
    /* FOnt size is too big for mobile */
    #homepageDiv > h1{
        font-size: 28px; 
    }
    /* Images are too large */
    #homeIconHolder > img {
        width: 100px;
    }

    
}