body {
    background-color: #054A91;
    color: #FCFAFA;
    margin: 0;
}

#homepageDiv {
    margin:  5% auto 5%;
    text-align: center;
    min-height: 100px;
    background-color: #5FBFF9;
    width: 50%;
    border: 5px solid #3E7CB1;
}

#homepageDiv > h1{
    font-size: 75px;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 > a {
    color: #FCFAFA;
    text-decoration: none;
}

h2 > a:hover {
    color: #0A122A;
}

#homeIconHolder{
    display: flex;
    justify-content: space-around;
    margin-bottom: 55px;
    flex-wrap: wrap;
}


#homeIconHolder > img {
    width: 200px;
}