.navHolder {
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: #0A122A;
    border-bottom: solid 5px #5FBFF9;
}

ul {
    margin: 1% 0;
}

li {
    display: inline;
    padding: 15px;
}

.navHolder > h1 {
    padding-left: 15px;
    font-size: 35px;
    margin: 1% 0;
}

li > a {
    color: #FCFAFA;
    text-decoration: none;
    font-size: 30px;
}

li > a:hover {
    color: #3E7CB1;
}